<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wukj.business.ucenter">

    <application>

        <!-- 登陆 -->
        <activity android:name="com.wukj.business.ucenter.activity.LoginActivity" />


    </application>

</manifest>